<mat-toolbar id="cabecalho" color="primary">

    <img src="https://www.placecage.com/50/50" alt="logo">

    <a mat-button href="/" target="_self">Inicio</a>
    <a mat-button href="/mussun" target="_self">Mussun</a>
    <a mat-button href="/loren" target="_self">Loren</a>

    <div class="esquerda">
        <mat-icon>search</mat-icon>
        <mat-form-field id="campo-de-pesquisa" appearance="fill">
            <input matInput type="search" [(ngModel)]="value" [matAutocomplete]="auto">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
            
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let opc of opcoesDaLista | async" [value]="opc" (onSelectionChange)="daOi(opc)">
                    {{opc}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</mat-toolbar>